<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bootstrapper" version="2.0.3.9" targetFramework="net45" />
  <package id="Bootstrapper.ServiceLocator" version="2.0.3.9" targetFramework="net45" />
  <package id="Bootstrapper.StructureMap" version="2.0.3.10" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net45" />
  <package id="CommonServiceLocator.StructureMapAdapter.Unofficial" version="2.6.4.3" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net45" />
  <package id="FluentMessaging" version="1.0.10.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Log4stuff.Appender" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.ConventionConfiguration" version="1.0.5.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.2" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.3" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.1" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="2.2.6.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="2.1.0.3" targetFramework="net45" />
</packages>